body {
  background-color: rgb(242, 242, 242);
  font-family: Helvetica, Sans-serif;
  margin: 12px;
  font-size: 17px;
}

.h1 {
    text-align: center;
}

.h3 {
    text-align: center;
}

.center {
    text-align: center;
}

.container {
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    padding: 20px;
    display: block;
}

.row {
    margin-bottom:10px;
    padding:10px;
    display: block;
}

.col{
    padding:10px;
    float: center;
    display: block;
}

.col1 {
    width:90%;
    padding:10px;
    float: center;
    display: block;
}

.col2 {
    width:49%;
    float:left;
    margin-right:2%;
    float: center;
    padding:10px;
    display:block;
}

.col2:last-child {margin-right:0;  }

.col3 {
    width:32%;
    float:left;
    height:100%;
    margin-right:2%;
    float: center;
    padding:10px;
    display: block;
}

.col3:last-child {margin-right:0;  }