
body {
  background-color: #FFFFFF;
  margin: 5%;
}

#header {
  align-items: center;
}

.h1 {
    text-align: center;
}

.center {
  text-align: center;
}

.container {
    background-color: #C3F1E1;
    width:100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 90px 0px;
    border-radius: 10px;
}

.row {
    width:100%;
    margin-bottom:10px;
    padding:10px;
    display: inline-block;
}
.col1 {
    width:100%;
    height:100%;
    padding:10px;
    float: center;

}
.col2 {
    width:49%;
    float:left;
    height:100%;
    margin-right:2%;
    float: center;
    padding:10px;
}
.col2:last-child {margin-right:0;  }
.col3 {
    width:32%;
    float:left;
    height:100%;
    margin-right:2%;
    float: center;
    padding:10px;
}
.col3:last-child {margin-right:0;  }