body {
  background-color: rgb(242, 242, 242);
  padding-top: 0px;
  padding-bottom: 2%;
  padding-right: 0%;
  padding-left: 0%;
  font-family: Helvetica, Sans-serif;
  font-size: 17px;
}

#top {
    lign-items: center;
    background-color: rgb(249, 249, 249);
    border-bottom-color: rgb(226, 226, 226);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(226, 226, 226);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(226, 226, 226);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(226, 226, 226);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: rgb(96, 96, 96);
    display: flex;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 15px;
    height: 60px;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    print-color-adjust: exact;

}

.h1 {
    text-align: center;
}

.h3 {
    text-align: center;
}

.center {
    text-align: center;
}

.container {
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    padding: 20px;
}

.row {
    width:100%;
    margin-bottom:10px;
    padding:10px;
    display: inline-block;
}

.col{
    padding:10px;
    float: center;
}

.col1 {
    width:100%;
    padding:10px;
    float: center;
}

.col2 {
    width:49%;
    float:left;
    margin-right:2%;
    float: center;
    padding:10px;
}

.col2:last-child {margin-right:0;  }

.col3 {
    width:32%;
    float:left;
    height:100%;
    margin-right:2%;
    float: center;
    padding:10px;
}

.col3:last-child {margin-right:0;  }